<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : "" %>>
  <%- partial('_partial/head') %>

    <body class="max-width mx-auto px3 <%- theme.direction -%>">
      <% if (is_post()) { %>
        <%- partial('_partial/post/actions_desktop') %>
          <% } %>
            <div class="content index py4 <%= is_home() ? 'h-card' : '' %>">
              <% if (!is_post()) { %>
                <%- partial('_partial/header') %>
                  <% } %>
                    <%- body %>
                      <% if (is_post()) { %>
                        <%- partial('_partial/post/actions_mobile') %>
                          <% } %>
                            <%- partial('_partial/footer') %>
            </div>
            <%- partial('_partial/styles') %>
              <%- partial('_partial/scripts') %>
              <!-- Start of Rocket.Chat Livechat Script -->
	<script type="text/javascript">
    (function(w, d, s, u) {
      w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
      var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
      j.async = true; j.src = 'https://talk.anthonyrussano.com/livechat/rocketchat-livechat.min.js?_=201903270000';
      h.parentNode.insertBefore(j, h);
    })(window, document, 'script', 'https://talk.anthonyrussano.com/livechat');
    </script>
    </body>

    </html>