<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
      <div class="meta">
        <span class="author p-author h-card" itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-name" itemprop="name">
            <% if (page.author) { %><%- page.author %>
                <% } else { %><%- config.author %>
                    <% } %>
          </span>
        </span>
        <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
          <%- partial('_partial/post/category') %>
            <%- partial('_partial/post/tag') %>
      </div>
  </header>
  <%- partial('_partial/post/gallery') %>
    <div class="content e-content" itemprop="articleBody">
      <%- page.content %>
    </div>
</article>
<% let file_path=`${theme.history.branch}/${theme.history.path}/source/${page.source}`;%>
  <div>
    <a
      href="<%= theme.history.server %><%= theme.history.user %>/<%= theme.history.repo %><%= `/new/` %><%= theme.history.branch %>/<%= theme.history.path %><%= `/source/_posts` %>">
      New</a> -
    <a href='<%= theme.history.server %><%= theme.history.user %>/<%= theme.history.repo %><%= `/edit/${file_path}` %>'>
      Edit</a> -
    <a
      href='<%= theme.history.server %><%= theme.history.user %>/<%= theme.history.repo %><%= `/commits/${file_path}` %>'>
      History</a> -
    <a href='<%= theme.history.server %><%= theme.history.user %>/<%= theme.history.repo %><%= `/raw/${file_path}` %>'>
      Source</a>
  </div>
  <%- partial('_partial/comments') %>