<% if (page.image) { %>
  <div class="article-gallery">
    <a class="gallery-item"
      href="https://res.cloudinary.com/alchemist-cookbook/image/upload/w_200,f_auto/<%- page.image %>"
      rel="gallery_<%= page._id %>">
      <img src="https://res.cloudinary.com/alchemist-cookbook/image/upload/w_200,f_auto/<%- page.image %>"
        itemprop="image" />
    </a>
  </div>
  <% } else { %>
    <div class="article-gallery">
      <a class="gallery-item"
        href="https://res.cloudinary.com/alchemist-cookbook/image/upload/w_200,f_auto/<%- page.title %>"
        rel="gallery_<%= page._id %>">
        <img src="https://res.cloudinary.com/alchemist-cookbook/image/upload/w_200,f_auto/<%- page.title %>"
          itemprop="image" />
      </a>
    </div>
    <% } %>
      <%- list_tags(page.tags, { show_count: false, style: 'list' }) %>